.vscode
.idea
*.elf
*.exe
*.out
hidden
*.bt
*.basalt
*dependencies*
grammar/.antlr
build
out
lib
docs/*
docs
cmake-build-debug
out/bin/**
out/lib/*
basalt
basalt.exe
basalt_unit_tests
basalt_unit_tests.exe
snippets
dependencies
*.ll
*.snap
*.msi
*.nix
result